h1{
    background-color:cornflowerblue;
    padding-bottom: 30px;
}
.paragraphCss{
    background-color: #9595b7;
}

#ParagraphUnique{
    background-color: lightblue;
}

body{
    background-color: lightblue;
}
